.selected-genre {
    background: #ffffff3b;
}

.all-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}


.color-tag {
    padding: 2px 4px;
    border-radius: 5px;
    margin: 5px;
}

.color-tag:hover {
    background: rgba(255, 255, 255, .1)
}

.color-tag:nth-of-type(7n) {
    border: 1px #86e3ce solid;
    color: #86e3ce
}

.color-tag:nth-of-type(7n+1) {
    border: 1px #d0e6a5 solid;
    color: #d0e6a5
}

.color-tag:nth-of-type(7n+2) {
    border: 1px #ffdd95 solid;
    color: #ffdd95
}

.color-tag:nth-of-type(7n+3) {
    border: 1px #fc887b solid;
    color: #fc887b
}

.color-tag:nth-of-type(7n+4) {
    border: 1px #ccabda solid;
    color: #ccabda
}

.color-tag:nth-of-type(7n+5) {
    border: 1px #abccd8 solid;
    color: #abccd8
}

.color-tag:nth-of-type(7n+6) {
    border: 1px #d8b2ab solid;
    color: #d8b2ab
}