::-webkit-scrollbar {
    width: 10px;
    background: radial-gradient(black, transparent);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
}

::placeholder {
    color: #fff;
}

* {
    box-sizing: border-box;
    transition: 0.2s ease-in-out;

    --bg: #162032;
    --primary: #0099ff;
    --inactive: #131720;
    --highlight: #06024d;
}

a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

body {

    background-color: var(--bg);
    font-family: "Poppins", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.style-reset {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}