aside::-webkit-scrollbar {
    height: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

aside {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    max-width: 300px;
    letter-spacing: 1px;
}

.button {
    padding: .5em 1em;
    letter-spacing: 1px;
    width: 100%;
    background: rgba(255, 255, 255, .1);
    border: none;
    margin-top: 10px;
    display: block;
    text-align: center;
}

.accordion-item {
    width: 100%;
}

.accordion-title {
    cursor: pointer;
    margin: 0;
    background: var(--inactive);
    padding: 3px 10px;
}

.accordion-title h3 {
    margin: 0;
    text-transform: uppercase;
}

.accordion-title span {
    float: right;
}

.accordion-content {
    background: #13172096;
    padding: 15px;
    color: #fff;
}



/* for tablet */
@media screen and (max-width: 992px) {
    aside {
        flex-direction: row;
        overflow: auto;
        width: -webkit-fill-available;
    }

    .accordion-item {
        width: 94vw;
    }

    .accordion-title span {
        float: none;
        margin-left: 8px;
    }

    .accordion-content {
        width: 94vw;
    }
}

/* for mobile */
@media screen and (max-width: 475px) {}



/* Genres */
.selected-genre {
    background: #ffffff3b;
}

.all-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}


.color-tag {
    padding: 2px;
    /* border-radius: 5px;
    margin: 5px; */
}

.color-tag:hover {
    background: rgba(255, 255, 255, .1)
}

.color-tag:nth-of-type(7n) {
    /* border: 1px #86e3ce solid; */
    color: #86e3ce
}

.color-tag:nth-of-type(7n+1) {
    /* border: 1px #d0e6a5 solid; */
    color: #d0e6a5
}

.color-tag:nth-of-type(7n+2) {
    /* border: 1px #ffdd95 solid; */
    color: #ffdd95
}

.color-tag:nth-of-type(7n+3) {
    /* border: 1px #fc887b solid; */
    color: #fc887b
}

.color-tag:nth-of-type(7n+4) {
    /* border: 1px #ccabda solid; */
    color: #ccabda
}

.color-tag:nth-of-type(7n+5) {
    /* border: 1px #abccd8 solid; */
    color: #abccd8
}

.color-tag:nth-of-type(7n+6) {
    /* border: 1px #d8b2ab solid; */
    color: #d8b2ab
}