header {
    height: 95vh;
    width: 99vw;
    background: var(--inactive);
    border-bottom-right-radius: 10em;
    position: relative;
    overflow: hidden;
    cursor: default;
}

/* For mobile phones: */
@media (max-width: 940px) {
    header {
        flex-direction: column;
        justify-content: center;
    }
}

.hero-banner {
    width: 100%;
    height: 95vh;
    position: relative;
    display: flex !important;
    justify-content: flex-end;
    align-items: flex-end;

}

/* Hero image */
.hero-img {
    position: relative;
    height: 100%;
}

.hero-img img {
    height: 100%;
    width: 100%;
}

.hero-img::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #131720 0, rgb(36 36 40 / 0%) 50%, #24242800 100%),
        linear-gradient(358deg, #131720 0, rgb(36 36 40 / 0%) 50%, #24242800 100%),
        linear-gradient(180deg, #13172059 0, rgb(36 36 40 / 0%) 50%, #24242800 100%);
    position: absolute;
}


/* Hero details */

.hero-detail {
    z-index: 99;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 10px;
    padding: 15px;
}

.hero-detail img {
    width: 200px;
    border-radius: 15px;
}

.hero-detail h1 {
    font-size: 2.7em;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1em;
    max-height: 2em;
    overflow: hidden;
    margin-bottom: .2em;
    line-height: 1.1em;
    max-height: 2.2em;
    color: #e9e9e9;
    text-transform: uppercase;
    text-shadow: 0 1px 2px #000;
}

.hero-detail .subtitle {
    display: flex;
    color: #cdcdcd;
}

.hero-detail .subtitle p {
    padding-right: 15px;
    margin: 0;
}

.genre-list a {
    margin: 0 5px;
}

.hero-detail .desc {
    text-shadow: 0 1px 2px #000;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: #888;
    margin-top: 1rem;
    max-width: 800px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 85px;
}

.hero-detail a {
    font-size: 1em;
    color: #ffffff69;
}

.hero-detail a:hover {
    color: #fff;
}





/* for tablet */
@media screen and (max-width: 992px) {
    header {
        height: auto;
        border-bottom-right-radius: 60px;
    }

    .desc,
    .hero-more,
    .genre-list {
        display: none !important;
    }

    .hero-detail img {
        width: 45%;
    }

    .hero-detail h1 {
        font-size: 1rem;
    }

    .hero-img img {
        height: auto;
        width: 100%;
    }


    .hero-banner {
        height: auto;
    }
}

/* for mobile */
@media screen and (max-width: 475px) {
    .hero-detail img {
        display: none !important;
    }
}