.d-container {
    background-color: #162032;
    padding: 90px 0;
    width: 95vw;
    max-width: 1115px;
    margin: auto;
}

.d-main {
    background: #131720;
    border-radius: 20px;
    display: flex;
    height: 70vh;
    overflow: hidden;
}

.d-main::-webkit-scrollbar {
    display: none;
}

.d-poster {
    box-shadow: 4px 4px 15px 0px #262626;
    height: 100%;
}

.d-backdrop {
    width: 100%;
    border-radius: 15px;
}

.d-overview {
    width: 100%;
    padding: 30px;
    overflow: auto;
}

.d-overview p b {
    color: #aaa;
}

.d-title {
    position: absolute;
    bottom: 5px;
    background: linear-gradient(1deg, #131720 0, rgb(36 36 40 / 0%) 100%, #24242800 100%), linear-gradient(358deg, #131720 0, rgb(36 36 40 / 0%) 90%, #24242800 100%), linear-gradient(357deg, #13172059 0, rgb(36 36 40 / 0%) 80%, #24242800 100%);
    right: 0;
    width: 75%;
    padding-left: 35px;
}


@media screen and (max-width: 992px) {
    .d-poster {
        display: none;
    }

    .d-overview h1 {
        font-size: clamp(1.5rem, 2vw, 1.5rem);
    }
}